@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@1,300&family=Montserrat:wght@200;300;400;500;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;

    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.wrapper{
    flex-wrap: wrap;
    /* margin-left: 25%; */
    width: 900px;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2em;
    gap: 20px;
}
.card{
    background-color: rgb(248, 243, 243);
    border: 2px  solid rgb(49, 131, 202);
    cursor: pointer;
    box-shadow: 0 0 30px rgba(10, 151, 156, 0.674);
    padding: 1em;
    font-size: 20px;
    border-radius: 20px;
}
.single{
    padding: 2em;
    display: flex;
    gap: 30px;
    align-items: center;
}

.single ul{
    list-style: none;
}
.single ul li{
    background-color: rgba(0, 238, 0, 0.9);
    border: 1px  solid rgb(0, 0, 0);
    padding: 20px 100px;
    border-radius: 30px;
    margin-top: 10px;    
}
.single button{
    background-color: rgba(0, 0, 0, 0.9);
    border: 1px  solid rgb(0, 8, 255);
    color: aqua;
    padding: 20px 90px;
    border-radius: 10px;
    position: absolute;
    cursor: pointer;
    bottom: 1rem;
    right: 1rem;

}

@media (max-width:320px) {
    .single ul li{
        padding: 10px 30px;
        border-radius: 30px;
        margin-top: 10px;
        
    }
    .single button{
        background-color: rgba(0, 0, 0, 0.9);
        border: 1px  solid rgb(0, 8, 255);
        color: aqua;
        padding: 10px 30px;
        border-radius: 50px;
        position: absolute;
        cursor: pointer;
        bottom: 1rem;
        right: 1rem;
    
    }
}
@media (max-width:375px) {
    .single ul li{
        background-color: rgba(0, 238, 0, 0.9);
        border: 1px  solid rgb(0, 0, 0);
        padding: 15px 50px;
        border-radius: 30px;
        margin-top: 10px;
        
    }
    .single button{
        background-color: rgba(0, 0, 0, 0.9);
        border: 1px  solid rgb(0, 8, 255);
        color: aqua;
        padding: 12px 40px;
        border-radius: 50px;
        position: absolute;
        cursor: pointer;
        bottom: 1rem;
        right: 1rem;
    
    }
}
@media (max-width:425px) {
    .single ul li{
        background-color: rgba(0, 238, 0, 0.9);
        border: 1px  solid rgb(0, 0, 0);
        padding: 18px 55px;
        border-radius: 30px;
        margin-top: 10px;
        
    }
    .single button{
        background-color: rgba(0, 0, 0, 0.9);
        border: 1px  solid rgb(0, 8, 255);
        color: aqua;
        padding: 12px 50px;
        border-radius: 50px;
        position: absolute;
        cursor: pointer;
        bottom: 1rem;
        right: 1rem;
    
    }
}
@media (max-width:768px) {
    .single ul li{
        background-color: rgba(0, 238, 0, 0.9);
        border: 1px  solid rgb(0, 0, 0);
        padding: 18px 55px;
        border-radius: 30px;
        margin-top: 10px;
        
    }
    .single button{
        background-color: rgba(0, 0, 0, 0.9);
        border: 1px  solid rgb(0, 8, 255);
        color: aqua;
        padding: 12px 50px;
        border-radius: 50px;
        position: absolute;
        cursor: pointer;
        bottom: 1rem;
        right: 1rem;
    
    }
}